/Backup/*
TAGS
bin/
obj/
*/Log/
_ReSharper*
*.DotSettings.user
*.suo
*.jtconfig
*.orig
*.dgml
*.csproj.user
*.DotSettings
*.ncrunchsolution
*.ncrunchsolution.user
*.coverage
TestResults/*
*.pubxml.user
*.pubxml
*/Content/Branding/
*/Content/less/*.css
OmegaWeb/OmegaWeb/Log/OmegaWeb3Log.txt
Omega.Smpp.WebAPI/devices.txt
WE2013-settings.xml
*.playlist
*.psess
*.vspx
*.rej
*.gzip
*.map
syntax: regexp
/CustomSkins/*
/packages/*
